<div class="loginPage container">
    <div class="loginWrapper">
    <div class="login">
        <div>Login Here!</div>
        <input type="text" id="lUser" value="admin" />
        <input type="text" id="lPass" value="admin" />
        <input type="submit" id="loginButton" value="login">
    </div>
    <div class="signup">
        <p>don't have an account?</p>
        <div>Sign Up!</div>
        <input type="text" id="sName" placeholder="First Name">
        <input type="text" id="sLname" placeholder="Last Name">
        <input type="text" id="sUser" placeholder="Email Address" />
        <input type="text" id="sPass" placeholder="Password" />
        <button>Signup</button>
    </div>
</div>
</div>