ion-toolbar{
    display: flex;
    height: 100px;
    text-align: center;
  
    .title{
      align-items: center;
  
      span{
        border-bottom: 3px solid white;
      }
    }
  }
  
  .randomMeal{
    display: flex;
    margin-top: 10px;
    width: 100%;
    justify-content: center;
  }

  .searchBar{
      display: flex;
      margin: 15px auto;
      background-color: rgb(200, 200, 200);
      border-radius: 25px;
      width: 75%;
  }

  ion-content{
      height: 100%;
  }
  