<ion-header>
  <ion-toolbar color="tertiary">
    <div style="display: flex; justify-content: center;">
      <ion-buttons>
        <ion-button routerLink="/home" routerDirection="back">
          <ion-icon name="home-sharp"></ion-icon>
        </ion-button>|
        <ion-button routerLink="/my-favorites" routerDirection="back">
          <ion-icon name="flag-sharp"></ion-icon>
        </ion-button>|
        <ion-button routerLink="/about" routerDirection="forward">
          <ion-icon name="happy-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-title>Thanks for visiting!</ion-title>
<div>The Movie Forum was designed using the omdb API and will 
  continue to grow over time! Functonalities such as commenting,
  setting ratings, and user authentication will continue to be 
  added over the coming months! Stay tuned for future updates! 
</div>
<div>This application was designed using the Ionic framework along with Angular11.

</div>
</ion-content>
