.viewRecipePage{
    width: 65%;
    min-height: 100vh;
    margin: 200px auto 0 auto;

    .descrip-and-img{
        display: flex;
        margin-bottom: 60px;
        justify-content: space-between;
        
        .descrip-header{
            position: relative;
            h3{
                position: absolute;
                margin-top: 60px;
                right:250px;
                transform: rotate(-90deg);
                font-family: "Lato", sans-serif;
                font-weight: 900;
                font-size: 25px;
                letter-spacing: 5px;
                width: 468px;
                height: 50px;
                
            }
    
            .img{
                height: 421px;
                width: 468px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }



        .des{
            .description{
                width: 455px;
                .des-title{
                    font-size: 25px;
                    font-family: "Lato", sans-serif;
                    font-weight: 900;
                    letter-spacing: 5px;
                    margin-bottom: 30px;
                }
                p{
                    font-family: 'Caveat-Regular';
                    font-size: 20px;
                    letter-spacing: 4px;
                    margin-bottom: 30px;
                }
            }

            .total-time, .total-time div{
                font-family: 'Lato', sans-serif;
                font-weight: 900;
                font-size: 20px;
                letter-spacing: 4px;
                margin-bottom: 30px;

                p{
                    font-family: 'Caveat-Regular';
                    font-size: 20px;
                    letter-spacing: 4px;
                    font-weight: normal;
                }
            }

            .servings, .servings div{
                font-family: 'Lato', sans-serif;
                font-weight: 900;
                font-size: 20px;
                letter-spacing: 4px;
                margin-bottom: 30px;

                p{
                    font-family: 'Caveat-Regular';
                    font-size: 20px;
                    letter-spacing: 4px;
                    font-weight: normal;
                }
            }

        }
    }

    .ing-ins{
        .ing{
            .ing-title{
                font-family: 'Lato', sans-serif;
                font-weight: 900;
                letter-spacing: 5px;
                font-size: 25px;
                margin-top: 60px;
                margin-bottom: 60px;
            }
            p{
                font-family: 'Caveat-Regular';
                font-size: 20px;
                letter-spacing: 4px;
            }
        }
        .ins{
            .ins-title{
                font-family: 'Lato', sans-serif;
                font-weight: 900;
                letter-spacing: 5px;
                font-size: 25px;
                margin-bottom: 60px;
                margin-top: 60px;
            }
            p{
                font-family: 'Caveat-Regular';
                font-size: 20px;
                letter-spacing: 4px;
            }
        }
    }
    button{
        background-color: rgba(255, 217, 114, 1);
        width: 128px;
        height: 42px;
        border-radius: 21px;
        border: none;
        margin: 30px 0;
        font-family: 'Caveat-Regular';
        font-size: 20px;
        letter-spacing: 2px;
    }
}

@media only all and (max-width: 768px){
    .viewRecipePage{
        .descrip-and-img{
            flex-direction: column;
            .descrip-header{
                .img{
                    margin-bottom: 40px;
                }
                h3{
                    right:300px;
                }
            }
        }
    }
}

@media only all and (max-width: 360px){
    .viewRecipePage{
        .descrip-and-img{
            width: 80%;
            .descrip-header{
                h3{
                    font-size: 20px;
                    font-weight: 100;
                    right:-30px;
                    top:-100px;
                }
                .img{
                    width: 210px;
                    height: 226px;
                }
            }

            .des{
                .description{
                    width: 100%;
                    .des-title{
                        font-size: 20px;
                        font-weight: 100;

                    }
                    p{
                        font-size: 16px;
                    }
                }
                .total-time{
                    font-weight: 100;
                }
                .total-time div{
                    font-weight: 100;
                    font-size: 16px;
                }
                .servings{
                    font-weight: 100;
                }
                .servings div{
                    font-weight: 100;
                    font-size: 16px;
                }
            }

        }
        .ing-ins{
            .ing{
                .ing-title{
                    font-family: 'Lato', sans-serif;
                    font-weight: 100;
                    letter-spacing: 5px;
                    font-size: 20px;
                    margin-top: 60px;
                    margin-bottom: 60px;
                }
                p{
                    font-family: 'Caveat-Regular';
                    font-size: 16px;
                    letter-spacing: 4px;
                }
            }
            .ins{
                .ins-title{
                    font-family: 'Lato', sans-serif;
                    font-weight: 100;
                    letter-spacing: 5px;
                    font-size: 20px;
                    margin-bottom: 60px;
                    margin-top: 60px;
                }
                p{
                    font-family: 'Caveat-Regular';
                    font-size: 16px;
                    letter-spacing: 4px;
                }
            }
        }
    }
}
