<div class="editPage container">
    <div class="createWrapper">
        <div class="subtitle">Hey <span>Noah</span>, edit your recipe!</div>
        <div class="recipe-des">

        </div>
        <div class="recipe">
            <h2>Edit Ingredients:</h2>
            <div class="inputs">
                <button id="addIngredient"><span>+</span></button>
            </div>
            
        </div>
        <div class="recipe">
            <h2>Edit Instructions:</h2>
            <div class="inputs2">
                <button id="addInstruction"><span>+</span></button>
            </div>
        </div>
    </div>
</div>