<div class="footer">
    <div class="text">
        <div class="copy">
            <p>Copyright &copy; 2019 The Jungle Cook</p>
        </div>
        <div class="links">
            <a href="#">Login</a>
            <a href="#">Recipes by Category</a>
            <a href="#">Privacy and Copyright</a>
            <a href="#">Create a Recipe</a>
            <a href="#">Your Recipes</a>
        </div>
    </div>
    <div class="socialMedia">
        <div class="facebook"></div>
        <div class="instagram"></div>
    </div>