<div class="header">
    <a href="#"><img src="./assets/images/logo.svg" alt=""></a>
    <div class="closeBurger"><img src="./assets/images/closeIcon.png" alt=""></div>
    <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <nav>
            <div class="links">
                <a class="active-page" id="home" href="#">Home</a>
                <a id="browse" href="#">Browse</a>
                <a id="create" href="#">Create Recipe</a>
                <a id="yourRecipes" href="#">Your Recipes</a>
            </div>
            <button class="loginBtn" id="login" href="#">Login</button>
    </nav>
</div>