<div class="createPage container">
    <div class="createWrapper">
        <div class="subtitle">Hey <span>Noah</span>, create your recipe!</div>
        <div class="recipe">
            <input type="file" id="file-upload">
            <button class="file-upload">Attach File</button>
            <input type="text" id="recipe-image" placeholder="Add Recipe Image">
            <input type="text" id="recipe-name" placeholder="Recipe Name">
            <input type="text" id="recipe-des" placeholder="Recipe Description">
            <input type="text" id="recipe-time" placeholder="Recipe Total Time">
            <input type="text" id="recipe-serve" placeholder="Recipe Serving Size">
        </div>
        <div class="recipe">
            <h2>Enter Ingredients:</h2>
            <div class="inputs">
                <input type="text" id="ingredient1" placeholder="Ingredient #1">
                <input type="text" id="ingredient2" placeholder="Ingredient #2">
                <input type="text" id="ingredient3" placeholder="Ingredient #3">
                <button class="roundbutton" id="addIngredient"><span>+</span></button>
            </div>
            
        </div>
        <div class="recipe">
            <h2>Enter Instructions:</h2>
            <div class="inputs2">
                <input type="text" id="instruction1" placeholder="Instruction #1">
                <input type="text" id="instruction2" placeholder="Instruction #2">
                <input type="text" id="instruction3" placeholder="Instruction #3">
                <button class="roundbutton" id="addInstruction"><span>+</span></button>
            </div>
        </div>
        <button class="createButton" id="createRecipe">Create Recipe</button>
    </div>
</div>