@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

ion-toolbar{
  font-family: 'Quicksand', sans-serif;
  display: flex;
  height: 60px;
  text-align: center;

  ion-buttons{
    width: 100%;
    justify-content: space-around;
  }

  .title{
    align-items: center;

    span{
      border-bottom: 3px solid white;
    }
  }
}

.randomMeal{
  display: flex;
  margin-top: 10px;
  width: 100%;
  justify-content: center;
}

.ingredients{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-size: 20px;
  ion-label{
    border-bottom: 2px solid grey;
    margin-left: 20px;
  }

}

.instructions{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-size: 20px;
  ion-label{
    border-bottom: 2px solid grey;
    margin-left: 20px;
  }

}

.source{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-size: 20px;
  ion-label{
    margin-left: 20px;
  }
}

div{
  display: flex;
  flex-direction: column;
  h3{
    margin: 20px 20px 0px 20px;
    justify-content: center;
    width: 50%;
    text-align: center;
  }
  ion-button{
    width: 30%;
    margin: 0 20px;
    align-self: flex-end;
  }
}

h4{
  text-align: center;
  margin: 200px auto;
  opacity: 0.5;
}

.movie-wrap{
  min-height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;



  ion-card{
    font-family: 'Quicksand', sans-serif;
    .descriptor{

      .movieTitle{
        font-size: 25px;
      }
      margin: 20px;
      display: flex;
    }

    ion-button{
      margin-bottom: 15px;
    }

  }

  
}